<?xml version="1.0" encoding="UTF-8"?>
<config>
	<handler>
		<factory>factory</factory>
		<api>api</api>
		<http>http</http>
		<cli>cli</cli>
	</handler>
	<api>
		<url>api</url>
	</api>
	<templates>
		<index>page.php</index>
		<pagesfolder>pages</pagesfolder>
		<autocompress>1</autocompress>
	</templates>
	<structure>
		<page index="1" name="main">
			<meta>
				<title />
				<description />
				<keywords />
			</meta>
			<caption>Главная</caption>
			<redirect />
			<template />
			<cssclass />
			<resources>
				<js>
					<item />
					<item />
				</js>
				<css>
					<item />
					<item />
				</css>
			</resources>
			<children />
		</page>
		<page name="controls">
			<meta />
			<caption>Контролы</caption>
			<redirect>/controls/help/</redirect>
			<children>
				<page name="help">
					<caption>Описание</caption>
				</page>
				<page name="demo">
					<caption>Примеры</caption>
				</page>
			</children>
		</page>
	</structure>
</config>