<?xml version="1.0" encoding="UTF-8"?>
<!-- Корневой узел -->
<config>
	<!-- Названия классов обработчиков запросов -->
	<handler>
		<factory>factory</factory><!-- Фабрика, которая выбирает обработчик дял запроса -->
		<api>api</api><!-- Обработчик API запроса -->
		<http>http</http><!-- Обработчик обычного запроса страницы -->
		<cli>cli</cli><!-- Обработчик консольного вызова -->
	</handler>
	<!-- Настройки функционала API -->
	<api>
		<url>api</url><!-- Начло URL по которому HTTP запрос будет считаться запросом на API -->
	</api>
	<!-- Настройки шаблонизации -->
	<templates>
		<index>page.php</index><!-- Относительный путь (от /templates/) к файлу шаблона, с которого начинается рендер страницы -->
		<pagesfolder>pages</pagesfolder><!-- Относительный путь (от /templates/) к папке, в которой лежат шаблоны страниц -->
		<autocompress>1</autocompress><!-- Флаг - включено ли объединение js и css ресурсов контролов -->
	</templates>
	<!-- Описание структуры страниц -->
	<structure>
		<!-- Узел, описывающий одну страницу -->
		<!-- Атрибут index: страница является "главной" (для URL / ). Должен быть только у одного узла page во всей иерархии -->
		<!-- Атрибут name: имя страницы, которое формирует её часть в URL. Обязательный для всех узлов page -->
		<!-- Атрибут menuhidden: флаг, надо ли скрывать страницу в меню, не обязателен к заполнению -->
		<page index="1" name="main" menuhidden="0">
			<!-- META-тэги для страницы, не обязательны к заполнению -->
			<meta>
				<title />
				<description />
				<keywords />
			</meta>
			<!-- Название траницы. Используется в меню, как title по умолчанию. -->
			<caption>Главная</caption>
			<!-- URL (полный или относительный) для мгновенного редиректа с этой страницы, не обязателен к заполнению -->
			<redirect />
			<!-- Относительный (от папки, где лежат шаблоны страниц) путь к файлу шаблона, не обязателен к заполнению -->
			<template />
			<!-- Дополнительные css классы для контрола меню, не обязательны к заполнению -->
			<cssclass />
			<!-- Дополнительные ресурсные файлы, которые будут подключены на странице, не обязательны к заполнению -->
			<resources>
				<!-- *.js файлы, url каждого файла - в отдельном узле item -->
				<js>
					<item />
					<item />
				</js>
				<!-- *.css файлы, url каждого файла - в отдельном узле item -->
				<css>
					<item />
					<item />
				</css>
			</resources>
			<!-- Узел, содержащий описание узлов дочерних страниц. Каждый дочерний узел - это такой же page -->
			<children />
		</page>
		<page name="controls">
			<meta />
			<caption>Контролы</caption>
			<redirect>/controls/help/</redirect>
			<children>
				<page name="help">
					<caption>Описание</caption>
				</page>
				<page name="demo">
					<caption>Примеры</caption>
				</page>
			</children>
		</page>
	</structure>
</config>